{% extends 'base.html' %}


{% block title %}{% endblock %}


{% block content %}
    <br>
    <div class="mui-container">
        <div class="mui-panel">
            {{ readme|markdown }}
        </div>

        <div class="mui-panel">
            <h2>Examples</h2>
            <ul>
                <li>
                    Example of json template filter:
                    {{ [{'curent': {'utc_time': datetime.datetime.utcnow()}}]|json }}
                </li>
                <li><a href="{{ url_for('api__now') }}">Example of json-response</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
