{% extends 'base.html' %}


{% block title %}{% endblock %}


{% block content %}
    <br>
    <div class="mui-container">
        <div class="mui-panel">
            {{ readme|markdown }}
        </div>

        <div class="mui-panel">
            <h2>Examples</h2>
            <ul>
                <li>
                    Example of json template filter:
                    {{ [{'curent': {'utc_time': datetime.datetime.utcnow()}}]|json }}
                </li>
                <li>
                    Example of ajax response:
                    <pre id="ajax-response">loading</pre>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block body_extra %}
    <script>
        fetch('{{ url_for('api_now') }}')
            .then(function(r) { return r.text(); })
            .then(function (data) {
                document.getElementById('ajax-response').innerHTML = data;
            });
    </script>
{% endblock %}
